# Server configuration
PORT=3000
NODE_ENV=development

# SmartAPI credentials
API_KEY=
CLIENT_CODE=
CLIENT_PIN=
CLIENT_TOTP_PIN= # Your 16-character TOTP secret key provided by Angel Broking

# Telegram configuration
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=